.max-height {
  height: 100%;
}

.container {
  max-width: 100%;
}

.fold {
  overflow: hidden;
  max-height: 4.5em;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}

.unfold {
  overflow: hidden;
  max-height: 100vw;
  transition: max-height 1s ease-in-out;
}

.reply-text {
  transition: max-height 1s ease-in-out;
  max-height: 100vw;
  overflow: hidden;
  font-size: small !important;
}

.reply-text pre code {
  font-size: small !important;
}

.reply-text.reply-clip {
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  max-height: 9rem;
}

.clickable {
  cursor: pointer;
}

.rich-text p {
  margin-bottom: 0 !important;
}

.reply p {
  margin-bottom: 0 !important;
}

.invisible {
  opacity: 0
}

img {
  display: block;
  margin: auto;
  max-width: 90%;
}

.theme--light.v-application code {
  background-color: rgba(0, 0, 0, 0) !important;
}

.flex-left {
  flex: 1; /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  flex: 1; /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  flex: 1; /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.v-application .text-body-1 {
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

.theme--dark.v-sheet {
  background-color: #303030;
}

.theme--dark.v-card {
  background-color: #424242;
}

.theme--dark .text-body-1 a {
  color: #32a1d2
}

