.theme--dark.v-sheet {
  background-color: #303030;
}

.theme--dark.container {
  background-color: #303030;
}

.theme--dark.v-card {
  background-color: #424242;
}

.theme--dark .text-body-1 a {
  color: #32a1d2
}
